/* Variables */
:root {
    --color-primary-yellow: hsl(47, 88%, 63%);
    --color-neutral-white: hsl(0, 0%, 100%);
    --color-neutral-grey: hsl(0, 0%, 50%);
    --color-neutral-black: hsl(0, 0%, 7%);

    --font-family-figtree: 'Figtree', sans-serif;
    --font-weight-semibold: 600;
    --font-weight-bold: 800;
    --font-size: 16px;
}

/* CSS reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    height: 100%;
}

body {
    height: 100%;
    text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}


body {
    font-family: var(--font-family-figtree);
    line-height: 1.15;
    background-color: var(--color-primary-yellow);
    color: var(--color-neutral-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-weight: var(--font-weight-semibold);
}

.card {
    text-align: left;
    background: var(--color-neutral-white);
    max-width: 400px;
    padding: 1rem;
    border-radius: 1.5rem;
    box-shadow: 6px 6px 0px var(--color-neutral-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    border: 1px solid var(--color-neutral-black);
}

.banner {
    border-radius: 1.2rem;
    margin-bottom: 1rem;
}

.tag,
.date {
    width: 100%;
    padding: .4rem 0;
}

.tag span {
    background: var(--color-primary-yellow);
    padding: .5rem;
    border-radius: .3rem;
    font-weight: var(--font-weight-bold);
}

.title {
    font-weight: var(--font-weight-bold);
    font-size: 25px;
    width: 100%;
}

.description {
    color: var(--color-neutral-grey);
    line-height: 1.5rem;
    margin: .8rem 0;
}

.author-info {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.author-info img {
    width: 30px;
    height: 30px;
}



footer {
    position: absolute;
    bottom: 0;
}

.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.25rem;
}