/* Variables */
:root {
    /* Color Scheme */
    --primary-yellow: hsl(47, 88%, 63%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-grey: hsl(0, 0%, 50%);
    --neutral-black: hsl(0, 0%, 7%);

    /* Typography */
    --font-family-default: 'Figtree', sans-serif;
    --font-weight-semibold: 600;
    --font-weight-bold: 800;
    --font-size-default: 1rem;
    /* 16px */
    --font-size-small: .88rem;

    /* Spacing */
    --space-small: .4rem;
    --space-medium: 1rem;
    --space-large: 1.4rem;

    /* Borders and Radius */
    --border-radius-small: .3rem;
    --border-radius-medium: 1.15rem;
}

/* CSS Reset - Consider using Normalize.css for a more comprehensive reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--font-size-default);
    -webkit-text-size-adjust: 100%;
    /* Prevent font scaling in landscape */
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--font-family-default);
    line-height: 1.15;
    background-color: var(--primary-yellow);
    color: var(--neutral-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--space-medium);
    font-weight: var(--font-weight-semibold);
}

/* Media Elements */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
    /* Maintain aspect ratio */
}

/* Form Elements */
input,
button,
textarea,
select {
    font: inherit;
}

/* Component: Card */
.card {
    text-align: left;
    background-color: var(--neutral-white);
    max-width: 384px;
    height: 522px;
    padding: var(--space-large);
    border-radius: var(--border-radius-medium);
    box-shadow: 8px 8px 0px var(--neutral-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--neutral-black);
}

/* Sub-components inside Card */
.banner {
    border-radius: 10px;
    width: 100%;
}

.tag {
    width: 100%;
    padding: var(--space-small) 0;
}

.tag span {
    background-color: var(--primary-yellow);
    margin-top: var(--space-large);
    padding: var(--space-small) var(--space-medium);
    display: inline-block;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    border-radius: var(--border-radius-small);
    letter-spacing: -0.01rem;
}

.date {
    margin-top: var(--space-medium);
    display: block;
    font-size: var(--font-size-small);
    width: 100%;
}

.title {
    font-weight: var(--font-weight-bold);
    font-size: 1.5rem;
    /* 24px */
    margin-top: var(--space-medium);
    cursor: pointer;
    width: 100%;
}

.title:hover,
.title:focus {
    /* Accessibility for keyboard users */
    color: var(--primary-yellow);
}

.description {
    color: var(--neutral-grey);
    font-weight: 300;
    line-height: 1.5rem;
    /* Consider changing to em for scalability */
    letter-spacing: 0.01rem;
    margin-top: var(--space-medium);
}

/* Author Info */
.author-info {
    margin-top: var(--space-large);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.author-info img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    /* Circular images */
}

.author-info .author {
    margin-left: var(--space-medium);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semibold);
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Ensure full width */
}

.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: var(--space-large);
}